.main-footer, 
.sidebar-toggle, 
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small,
.navbar-nav>.user-menu>.dropdown-menu>li.user-header
{
    display: none !important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    width: 200px;
    min-width: 200px;
}

.main-header .logo {
    background: transparent !important;
    color: white !important;
    border-right: 0px !important;
}


.sidebar-menu>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.sidebar-menu>li.header:first-child {
    display: none !important;
}

.sidebar-menu li.treeview .treeview-menu{
    display: block !important;
    background: transparent !important;
}

.sidebar-menu li.treeview > a i{
    display: none !important;
}

.sidebar-menu li.treeview > a {
    border: 0px !important;
    padding-left: 22px !important;
    color: #fff !important;
    background: #1e282c !important;
}

.sidebar .user-panel{
    padding-left: 20px;
}

.user-header small {
    display: none !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    display: none !important;
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 195px !important;
}

.navbar-nav>.user-menu .user-image {
    display: none !important;
}

.backend-article-content img {
    max-width: 100%;
    height: auto;
}

.user-footer > div:first-child {
    display: none;
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 95px !important;
    min-width: 95px !important;
}

.handle-tree {
    padding: 2px;
}

.treehidden {
    display: none !important; 
}

.dd-item {
    clear: both;
}

.dd-item a {
    text-decoration: underline;
}

.dd-item > button {
    margin: 0px !important;
    display: block;
    border: 1px solid #367fa9 !important;
    border-radius: 3px !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 5px !important;
    background: #3c8dbc !important;
    display: block;
    margin-top: 3px !important;
}

.dd-item > button:before {
    font-size: 11px;
    color: white !important;
}

.breadcrumb {
    display: inline-block !important;
    clear: none !important;
    margin: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 7px !important;
}

.hreffed {
    width: auto; 
    float: left;
}